.api-menu {
    /* flex: 1; */
    width: 20vw;
    background-color: #333;
    color: #fff;
    padding: 10px;
    min-height: 100vh;
}

.api-menu h2 {
    text-align: center;
    margin-bottom: 20px;
}

.api-menu ul {
    list-style-type: none;
    padding: 0;
}

.api-menu li a {
    color: #fff;
    text-decoration: none;
    padding: 5px;
    display: block;
    margin-bottom: 5px;
    border-radius: 4px;
    transition: background-color 0.2s;
}

.api-menu li a:hover {
    background-color: #555;
}

.api-details {
    /* flex: 3; */
    width: 80vw;
    padding: 20px;
    
}

article {
    margin-bottom: 40px;
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.doc-container {
    display: flex;
}