body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f7f9;
    color: #333;
}

header {
    background-color: #f4f7f9;
    text-align: right;
    padding: 1em 2em;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    color: #2c8c99;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #2c8c99;
    color: white;
}

main {
    padding: 50px 20px;
    text-align: center;
}

button {
    background-color: #2c8c99;
    border: none;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #1f6b73;
}

footer {
    background-color: #f4f7f9;
    color: #2c8c99;
    text-align: center;
    padding: 2em 0;
    /* position: absolute; */
    /* bottom: 0; */
    width: 100%;
    border-top: 1px solid #dfe3e6;
}


/* ... [Previous CSS Code] ... */

.code-block {
    background-color: #e8f5f8;
    border-radius: 5px;
    padding: 15px;
    margin: 25px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow-x: auto; /* in case code is too wide */
}

.code-block code {
    color: #2c8c99;
    font-family: "Courier New", Courier, monospace;
}
